.photo-list-item {
  margin: 0 10px 20px 10px;
  /*margin-right: 25px;*/
}


figure {
  background-color: #fff;
  padding: 5px;
  display: table;
  margin: 0;
}

figure img {
   display: block;
   width: 100%;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  background: #fff;
  padding: 0 5px 5px;
}

img {
  width: 100%;
}